In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/indian_food2.csv')

In [5]:
df.shape

(255, 10)

In [6]:
df = df.replace({'nan': np.nan, ' ': np.nan, '': np.nan})

# 전처리

## 1-1

In [8]:
df = df.drop(columns=['state'])

In [9]:
df.head(1)

,id,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,region
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,East

## 1-2

In [11]:
df = df[(df['cook_time'] > 0) & (df['prep_time'] > 0)]

## 1-3

In [13]:
df = df[~df['region'].isin(['-1', ''])]

In [15]:
df['region'] = df['region'].replace({'North East': 'North'})

In [17]:
# df = df[~df['region'].isna()]
df = df.dropna(subset=['region'])

In [18]:
df.isna().sum()

id                0
name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
region            0
dtype: int64

## 1-4
np.where(조건~, True, False)

In [19]:
df.loc[df['flavor_profile'] == 'sweet', 'ed_flavor_profile'] = 'sweet'
df.loc[df['flavor_profile'] != 'sweet', 'ed_flavor_profile'] = 'not sweet'

In [24]:
df['ed_flavor_profile2'] = np.where(df['flavor_profile'] == 'sweet',\
                                    'sweet',\
                                    'not sweet')

In [26]:
df.iloc[:, -2:]

    ed_flavor_profile ed_flavor_profile2
0               sweet              sweet
1               sweet              sweet
2               sweet              sweet
3               sweet              sweet
4               sweet              sweet
..                ...                ...
247         not sweet          not sweet
249         not sweet          not sweet
250             sweet              sweet
251             sweet              sweet
253             sweet              sweet

[212 rows x 2 columns]

## 1-5

In [27]:
df.loc[df['course'] == 'main course', 'ed_course'] = 'main course'
df.loc[df['course'] != 'main course', 'ed_course'] = 'not main course'

In [29]:
df['ed_course2'] = np.where(df['course'] == 'main course',\
                            'main course',\
                            'not main course')

In [33]:
df.iloc[:, -2:]

           ed_course       ed_course2
0    not main course  not main course
1    not main course  not main course
2    not main course  not main course
3    not main course  not main course
4    not main course  not main course
..               ...              ...
247      main course      main course
249      main course      main course
250  not main course  not main course
251  not main course  not main course
253  not main course  not main course

[212 rows x 2 columns]

## 1-6

In [37]:
df['ingredients_no'] = df['ingredients'].str.split(',').str.len()

In [39]:
df.head(1)

,id,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,region,ed_flavor_profile,ed_flavor_profile2,ed_course,ed_course2,ingredients_no
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,East,sweet,sweet,not main course,not main course,4

In [40]:
df.shape

(212, 14)